{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h5><u>My Recipes</u></h5>
    </div>
    <div class="row mt-2">
    {% for recipe in recipes %}
        {% if forloop.counter0 <= 3 %}
        <div class="col-lg-3 col-md-4 col-sm-12 d-flex my-3">
            <div class="card">
                <img src="{{ recipe.image }}" class="card-img-top" alt="">
              <div class="card-body">
                  <a href="{% url 'recipe-details' recipeid=recipe.id %}"><h5 class="card-title"></h5></a> 
                  <p class="card-text">{{ recipe.summary | safe | truncatechars_html:200 }}</p>
              </div>
            </div>
        </div>
        {% else %}
        {% endif %}
    {% endfor %}
    </div>
<!--
    <div class="row mt-2">
    {% for s_list in shopping_lists %}
        {% if forloop.counter0 <= 3 %}
        <div class="col-lg-3 col-md-4 col-sm-12 d-flex my-3">
            <div class="card">
              <div class="card-body">
                  <a href="{% url 'list-details' list.id %}"><h5 class="card-title">{{ s_list.name }}</h5></a> 
                  <p class="card-text"></p>
              </div>
            </div>
        </div>
        {% else %}
        {% endif %}
    {% endfor %}
    </div>
-->
<!-- If user: Load user home page -->
{% endblock content %}
