{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col col-sm-12" align="center">
            <h3 class="">{{ recipe_data.title }}</h3>
        </div>
    </div>
    <div class="row justify-content-center pb-3">
        <img src="{{ recipe_data.image }}" class="" alt="">
    </div>

    <div class="row py-3">
        <p>{{ recipe_data.summary | safe }}</p>
    </div>

    <div class="row py-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Ingredient</th>
                    <th scope="col" class="text-center">Amount</th>
                </tr>
            </thead>
            {% for ingredient in recipe_data.extendedIngredients %}
                <tr>
                    <td class="text-center">{{ ingredient.name }}</td>
                    <td class="text-center">{{ ingredient.measures.us.amount }} {{ ingredient.measures.us.unitLong }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="py-3">
        {{ recipe_data.instructions | safe }}
    </div>
    <form action="" class="col-sm-12 my-5 d-flex" method="post">{% csrf_token %}
        <input type="hidden" name="recipe-id" value="{{ recipe_data.id }}"></input>
        <input type="hidden" name="recipe-name" value="{{ recipe_data.title }}"></input>
        <input type="hidden" name="recipe-image" value="{{ recipe_data.image }}"></input>
        <input type="hidden" name="recipe-summary" value="{{ recipe_data.summary }}"></input>
        <input type="hidden" name="recipe-instructions" value="{{ recipe_data.instructions }}"></input>
        <input type="hidden" name="recipe-ingredients" value="{{ recipe_data.extendedIngredients }}"></input>
        {% if is_user_recipe %}
            <button class="w-100 btn btn-lg btn-danger" type="submit" name="delete-recipe">Delete Recipe</button>
        {% else %}
            <button class="w-100 btn btn-lg btn-outline-info" type="submit" name="add-recipe">Add Recipe</button>
        {% endif %}
    </form>


</div>

<!-- If user: Load user home page -->
{% endblock content %}
