{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row my-5 justify-content-center">
        <h3 class="text-info">My Recipes</h3>
    </div>
    <div class="row mt-2">
    {% for recipe in recipe_data %}
        <div class="col-lg-3 col-md-4 col-sm-12 d-flex my-3">
            <div class="card">
                <img src="{{ recipe.image }}" class="card-img-top" alt="">
              <div class="card-body">
                  <a href="{% url 'recipe-details' recipeid=recipe.recipe_id %}"><h5 class="card-title">{{ recipe.name }}</h5></a> 
                  <p class="card-text">{{ recipe.summary | safe | truncatechars_html:200 }}</p>
              </div>
              <div class="card-footer text-center mt-auto d-flex flex-column">
                  <!-- <div id="app"></div> -->
                  <form action="" class="d-flex" method="post">{% csrf_token %}
                      <input type="hidden" name="recipe-id" value="{{ recipe.recipe_id }}"></input>
                      <input type="hidden" name="recipe-name" value="{{ recipe.title }}"></input>
                      <input type="hidden" name="recipe-image" value="{{ recipe.image }}"></input>
                      <input type="hidden" name="recipe-summary" value="{{ recipe.summary }}"></input>
                      <input type="hidden" name="recipe-instructions" value="{{ recipe.instructions }}"></input>
                      <input type="hidden" name="recipe-ingredients" value="{{ recipe.extendedIngredients }}"></input>
                      <input type="hidden" name="list-id" value="{{ list_id }}"></input>
                      <button class="w-100 btn btn-lg btn-outline-info" type="submit" name="add-recipe-list">Add Recipe To List</button>
                </form>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}
